* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
.clearfix{
  clear: both;
}

h1{
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

address{
  text-align: center;
  padding-bottom: 1em;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  background-color: black ;   
color:white;
}

nav{
  text-align: center;
}
nav a{
  padding: 10px;
  display: inline-block;
  font-weight: 300;
  color: green;
}
nav ul{
list-style-type: none;
margin: 0;padding: 0;
}

nav ul h2{
  color: white;
}

nav ul li{
  display: inline-block;
  position: relative;

}
nav ul li a{
  display: block;
  padding: 20px 20px;
  font-weight: 800;
}

h2{
  padding: 1em;
}
figure{
  padding: 10em;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

ul{
  text-align: center;
  padding: 1em;
list-style-type: none;
font-style: italic;
font-weight: 800;
color: green;
}

table {
border:0.5px solid white;
background-color: grey;
margin-left: auto;
margin-right: auto;
}

th, td {
border:0.5px solid white;
height: 2em;
text-align: center;
width: 12em;
}

 

  p {
    font-size: 14px;
    padding: 1.5em;
    padding-left: 100px;
    padding-right: 100px;
  }

img {
  float: left;
  margin-right: 20px;
}
